body{
    margin: 0px;
    padding: 0px;
    font-family: 'Open-Sans', sans-serif;
}

@font-face {
    font-family: "Open-Sans";
    src: url(./assets/fonts/open-sans.ttf);
}

#topBar{
    height: 50px;
    background-color: #333;
    color: white;
    border-bottom: 10px solid #fd8a24;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
}

header{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: #555;
}

#tit{
    font-size: 2.8em;
    color: black;
}

#citacao{
    font-size: 0.6em;
    color: #111;
    font-weight: 700;
}

#atualizacao{
    font-size: 0.4em;
}

#linksRedes{
    margin-top: 40px;
}

.redes{
    margin-right: 20px;
}

#content{
    color: #333;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.legPag{
    font-weight: 700;
    color: #fd8a24;
}

a{
    text-decoration: none;
}

a:visited{
    color: #fd8a24;
    text-decoration: none;
}

figure{
    margin-left: 0;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

figcaption{
    font-size: 0.7em;
    margin-top: 20px;
}

.secTit{
    margin-top: 30px;
    font-size: 1.7em
}

.pContent{
    font-size: 1.1em;
}

footer{
    height: 60px;
    background-color: #333;
}